<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 注意：namespace中的值必须是对应接口的全路径，SQL语句中的id值必须是这个接口中对应方法名称 -->
<mapper namespace="com.hy.fresh.mapper.ICartInfoMapper">	
	<insert id="add" parameterType="CartInfo" >
		insert into cartinfo values(0,#{mno}, #{gno}, #{num})
	</insert>
	
	<select id="findnums" parameterType="int"  resultType="int">
		select count(cno) from cartinfo where mno=#{mno}
	</select>
	
	<select id="findByMno" parameterType="int" resultType="GoodsInfo">
		select g.gno, g.gname, g.price, g.pics, g.unit, c.cno, c.num from goodsinfo g, cartinfo c where g.gno=c.gno and c.mno=#{mno} 
	</select>
	
	<delete id="del" parameterType="int">
		delete from cartinfo where cno=#{cno}
	</delete>
	
	<update id="update" parameterType="CartInfo" >
		update cartinfo set num = num + (#{num}) where (cno=#{cno} or gno=#{gno})
	</update>
	
	<select id="check" parameterType="CartInfo" resultType="int">
		select count(gno) from cartinfo where gno=#{gno}
	</select>
	
	<select id="findByCons" parameterType="CartInfo" resultType="GoodsInfo">
		select cno, g.gno, num, gname, price, pics, c.mno, balance, unit, weight from cartinfo c, goodsinfo g
		<foreach collection="list" open="where cno in(" separator="," close=")" item="item">
			#{item}
		</foreach>
		and c.gno = g.gno
	</select>
	
	<delete id="delete" parameterType="CartInfo">
		delete from cartinfo 
		<foreach collection="list" open="where cno in(" separator="," close=")" item="item">
			#{item}
		</foreach>
	</delete>
</mapper>